@import "variables";
@import "media-query";

.main .home {
  font-family: 'Staatliches', cursive;

  &__header {
    position: relative;
    width: 100%;
    &__background {
      .background-photo-mask {
        width: 100%;
        position: absolute;
        z-index: 2;
        background: url("../images/home-page-photo-mask.png") center center no-repeat;
        height: 674px;
      }
      .background-photo {
        position: absolute;
        z-index: 1;
        width: 100%;
        background: url("../images/home-page-photo.jpg") center center no-repeat;
        height: 674px;
        animation: hue-rotate 15s linear infinite;
      }
    }
    &__intro {
      width: 100%;
      height: 674px;
      box-sizing: border-box;
      position: relative;
      z-index: 3;
      display: flex;
      align-items: center;
      justify-content: center;
      &-content {
        background-color: rgba(0, 0, 0, 0.5);
        border-radius: 30px;
        width: 80%;
        max-width: 1140px;
        padding: 0 120px;
        box-sizing: border-box;
        height: 280px;
        display: flex;
        align-items: center;
        position: relative;
        &__text {
          letter-spacing: 0.25em;
          display: flex;
          justify-content: center;
          flex-direction: column;
          color: white;
          position: absolute;
          right: 100px;
          span {
            color: $magenta;
            font-size: 90px;
            line-height: 112px;
          }
          h2 {
            font-size: 90px;
            line-height: 112px;
            br {
              display: none;
            }
          }
          &__wrap {
            display: flex;
            align-items: center;
            h3 {
              font-size: 60px;
            }
            .ghost-button {
              margin-left: 20px;
            }
          }
        }
      }
    }
    @include MQ(XL) {
      &__background {
        .background-photo-mask {
          background-position: 20% center;
        }
        .background-photo {
          background-position: 20% center;
        }
      }
      &__intro {
        &-content {
          width: 85%;
          &__text {
            right: 80px;
            h2 {
              font-size: 70px;
              line-height: 112px;
              span {
                font-size: 70px;
              }
            }
          }
        }
      }
    }
    @include MQ(L) {
      &__intro {
        &-content {
          &__text {
            right: 50px;
            h2 {
              font-size: 60px;
              line-height: 112px;
              span {
                font-size: 60px;
              }
            }
          }
        }
      }
    }
    @include MQ(M) {
      &__intro {
        &-content {
          width: 85%;
          height: 60%;
          padding: 0;
          display: flex;
          justify-content: center;
          &__text {
            right: unset;
            h2 {
              font-size: 52px;
              line-height: 65px;
              br {
                display: block;
              }
              span {
                font-size: 52px;
                line-height: 65px;
              }
            }
            h3 {
              font-size: 40px;
            }
            &__wrap {
              margin-top: 30px;
              flex-direction: column;
              align-items: flex-start;
              .ghost-button {
                margin-top: 10px;
                margin-left: 0;
              }
            }
          }
        }
      }
    }
    @include MQ(S) {
      &__intro {
        &-content {
          width: 85%;
          &__text {
            h2 {
              font-size: 50px;
              line-height: 65px;
              letter-spacing: 0.02em;
              span {
                font-size: 50px;
                line-height: 65px;
                letter-spacing: 0.02em;
              }
            }
            h3 {
              font-size: 30px;
            }
            button {
              font-size: 25px;
              width: 120px;
              line-height: 46px;
              &::before {
                font-size: 25px;
                width: 120px;
                line-height: 52px;
              }
            }
          }
        }
      }
    }
  }

  &__skill {
    background-color: $background;
    box-shadow: 0 -4px 20px 12px rgba(0, 0, 0, 0.5);
    position: relative;
    z-index: 5;
    &__content {
      &__header::before {
        background-color: $purple;
      }
      &__cards {
        margin-top: 70px;
        display: flex;
        justify-content: space-between;
        width: 100%;
        color: black;
        .skill-card {
          width: 22%;
          height: 352px;
          background-color: $white-light;
          border-radius: $border-radius--small;
          overflow: hidden;
          position: relative;
          box-shadow: none;
          transition: all 0.5s ease;
          &__mask {
            position: absolute;
            z-index: 1;
            width: 100%;
            height: 270px;
            background: linear-gradient(305.78deg, #6500E0 0%, #9E1FDA 53.99%, #D43F8D 100%);
            opacity: 0;
            transition: opacity 0.5s ease;
            display: flex;
            justify-content: center;
            align-items: center;
            &__text {
              width: 75%;
              height: 75%;
              position: absolute;
              background-color: rgba(0, 0, 0, 0.5);
              padding: 20px;
              box-sizing: border-box;
              border-radius: $border-radius--small;
              p {
                color: white;
                font-family: "Roboto", sans-serif;
                font-size: 18px;
              }
            }
          }
          &:hover {
            transform: translateY(-10px);
            box-shadow: 0 12px 30px -10px $magenta;
          }
          &:hover .skill-card__mask {
            opacity: 1;
          }
          &__icon {
            width: 100%;
            height: 270px;
            background-color: $black-main;
            display: flex;
            justify-content: center;
            align-items: center;
          }
          &__text {
            width: 100%;
            height: 82px;
            display: flex;
            justify-content: center;
            align-items: center;
            h3 {
              font-size: 40px;
              letter-spacing: 0.05em;
            }
          }
        }
      }
    }
    @include MQ(L) {
      &__content__cards {
        flex-wrap: wrap;
        .skill-card{
          width: 48%;
          margin-bottom: 6%;
        }
      }
    }
    @include MQ(M) {
      &__content__cards {
        .skill-card{
          height: 270px;
          &__mask {
            height: 200px;
            &__text {
              width: 85%;
              height: 85%;
              padding: 10px 15px;
              p {
                font-size: 15px;
              }
            }
          }
          &__icon {
            height: 200px;
            img {
              width: 100px;
              height: auto;
            }
          }
          &__text {
            height: 70px;
            h3 {
              font-size: 30px;
            }
          }
        }
      }
    }

    @include MQ(S) {
      &__content__cards {
        margin-top: 30px;
        justify-content: center;
        .skill-card{
          width: 70%;
          margin-bottom: 10%;
        }
      }
    }
  }

  &__project {
    background-color: $background;
    position: relative;
    &__mask {
      width: 100%;
      height: 100%;
      position: absolute;
      background: linear-gradient(180deg, #6500E0 0%, rgba(158, 31, 218, 0.6) 50%, rgba(158, 31, 218, 0.1) 100%);
      opacity: 0.3;
    }
    &__content {
      &__projects {
        display: flex;
        justify-content: space-between;
        margin-top: 60px;
        position: relative;
        z-index: 1;
        .project {
          width: 48%;
          height: 400px;
          transition: all 0.5s ease;
          border-radius: $border-radius--small;
          background-position: center;
          background-repeat: no-repeat;
          background-size: cover;
          position: relative;
          overflow: hidden;
          cursor: pointer;
          &:nth-of-type(1) {
            background-image: url("../images/project-img01.jpg");
            .project__mask {
              background: linear-gradient(180deg, rgba(158, 31, 218, 0) 0%, rgba(158, 31, 218, 0.4) 50%, rgba(212, 63, 141, 0.65) 100%);
            }
          }
          &:nth-of-type(2) {
            background-image: url("../images/project-img02.jpg");
            .project__mask {
              background: linear-gradient(180deg, rgba(158, 31, 218, 0) 0%, rgba(108, 18, 150, 0.55) 50%, rgba(168, 19, 97, 0.8) 100%);
            }
          }
          &__mask {
            position: absolute;
            width: 100%;
            height: 100px;
            bottom: 0;
            transition: height 1s ease;
          }
          &__text {
            width: 100%;
            text-align: center;
            color: white;
            font-size: 32px;
            position: absolute;
            left: 50%;
            transform: translateX(-50%);
            bottom: 20px;
            letter-spacing: 0.05em;
            transition: all 0.8s ease;
            padding: 0 12px;
            box-sizing: border-box;
          }
          &:hover .project__mask{
            height: 80%;
          }
          &:hover .project__text{
            transform: translateX(-50%) scale(1.1);
            transform-origin: bottom;
          }
        }
      }
    }
    @include MQ(L) {
      &__content__projects {
        display: flex;
        justify-content: space-between;
        margin-top: 60px;
        position: relative;
        z-index: 1;
        flex-wrap: wrap;
        .project {
          width: 100%;
          margin-bottom: 8%;
        }
      }
    }
    @include MQ(S) {
      &__content__projects {
        margin-top: 30px;
        .project {
          height: 250px;
          &__text {
            font-size: 24px;
          }
        }
      }
    }
  }
  &__blog {
    background: $black-dark;
    &__content {
      &__header::before {
        background-color: $purple;
      }
      &__posts {
        display: flex;
        justify-content: space-between;
        margin-top: 60px;
        .post {
          width: 31%;
          height: 564px;
          background: $black-light;
          color: white;
          font-family: "Roboto", sans-serif;
          border-radius: $border-radius--small;
          overflow: hidden;
          box-shadow: 2px 20px 30px -15px rgba(0, 0, 0, 0.8);
          transition: all 0.5s ease;
          &__img {
            width: 100%;
            height: 236px;
            background-position: center center;
            background-repeat: no-repeat;
            background-size: cover;
          }
          &__text {
            padding: 20px;
            position: relative;
            height: 328px;
            box-sizing: border-box;
            h2 {
              color: white;
              font-size: 26px;
              line-height: 32px;
              font-weight: bold;
              cursor: pointer;
              transition: all 0.2s ease;
              &:hover {
                transform: scale(1.01);
                transform-origin: center;
              }
            }
            p {
              margin: 16px 0;
              color: $white-light;
              font-size: 18px;
              line-height: 22px;
            }
            a {
              font-size: 22px;
              line-height: 26px;
              cursor: pointer;
              position: relative;
              display: inline-flex;
              align-items: center;
              text-decoration: none;
              img {
                margin-left: 8px;
                transition: margin-left 0.2s ease;
              }
              &:hover img {
                margin-left: 12px;
              }
            }
            &__tags {
              position: absolute;
              top: -48px;
              display: flex;
            }
            &__time {
              position: absolute;
              bottom: 20px;
              right: 20px;
            }
          }
          &:hover {
            transform: translateY(-15px);
          }
          &:nth-of-type(1) {
            .post__img{
              background-image: url("../images/blog-img01.jpg");
            }
          }
          &:nth-of-type(2) {
            .post__img{
              background-image: url("../images/blog-img02.jpg");
            }
          }
          &:nth-of-type(3) {
            .post__img{
              background-image: url("../images/blog-img03.jpg");
            }
          }
        }
      }
    }
    @include MQ(XL) {
      &__content__posts {
        .post {
          width: 48%;
          &:nth-of-type(3) {
            display: none;
          }
        }
      }
    }
    @include MQ(L) {
      &__content__posts {
        flex-wrap: wrap;
        .post {
          width: 100%;
          margin-bottom: 10%;
          &:nth-of-type(3) {
            display: block;
            margin-bottom: 0;
          }
        }
      }
    }
    @include MQ(S) {
      &__content__posts {
        margin-top: 30px;
        .post {
          height: 384px;
          &__text {
            height: 214px;
            padding: 10px 15px;
            h2 {
              font-size: 20px;
              line-height: 24px;
            }
            p {
              font-size: 14px;
              line-height: 18px;
              margin: 10px 0;
            }

            img {
              width: 9px;
              height: auto;
            }
            &__time {
              right: 15px;
              font-size: 12px;
            }
            &__tags {
              top: -33px;
            }
          }
          &__img {
            height: 176px;
          }
        }
      }
    }
  }
  &__gallery {
    background-color: $background;
    &__content {
      &__photos {
        display: grid;
        grid-template-columns: auto auto auto;
        grid-auto-rows: 280px;
        grid-gap: 30px;
        margin-top: 50px;
        .photo {
          border-radius: $border-radius--small;
          background-position: center;
          background-repeat: no-repeat;
          background-size: cover;
          transition: all 0.6s ease;
          &:hover {
            transform: scale(1.05);
            transform-origin: center;
          }
          &:nth-of-type(1) {
            background-image: url("../images/gallery-img01.jpg");
          }
          &:nth-of-type(2) {
            background-image: url("../images/gallery-img02.jpg");
          }
          &:nth-of-type(3) {
            background-image: url("../images/gallery-img03.jpg");
          }
          &:nth-of-type(4) {
            background-image: url("../images/gallery-img04.jpg");
          }
          &:nth-of-type(5) {
            background-image: url("../images/gallery-img05.jpg");
          }
          &:nth-of-type(6) {
            background-image: url("../images/gallery-img06.jpg");
          }
        }
      }
    }
    @include MQ(L) {
      &__content__photos {
        grid-template-columns: auto auto;
        grid-auto-rows: 250px;
        }
    }
    @include MQ(M) {
      &__content__photos {
        margin-top: 30px;
        grid-template-columns: auto;
        grid-auto-rows: 240px;
      }
    }
  }

  &__contact {
    background-image: linear-gradient(90deg, #6500E0 0%, #9E1FDA 50%, #D43F8D 100%);
    &__content {
      height: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      padding: 40px 30px;
      h2 {
        color: white;
        font-size: 50px;
        line-height: 50px;
        letter-spacing: 0.05em;
      }
      a {
        color: white;
        margin-top: 20px;
        font-size: 28px;
        padding: 6px 20px;
        letter-spacing: 0.05em;
        border: white solid 3px;
        border-radius: $border-radius--small;
        cursor: pointer;
        text-decoration: none;
        transition: transform 0.6s ease;
        &:hover {
          transform: scale(1.05);
          box-shadow: 0 0 10px;
        }
      }
    }
    @include MQ(M) {
      text-align: center;
      &__content {
      }
    }
  }
}

.home-container {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: $background;
  &__content {
    width: 100%;
    max-width: 1440px;
    padding: 100px 100px;
    box-sizing: border-box;
    height: 100%;
    @include MQ(XL) {
      padding: 100px 100px;
      & > h2 {
        font-size: 50px;
      }
    }
    @include MQ(L) {
      padding: 80px 80px;
    }
    @include MQ(M) {
      padding: 60px 40px;
      & > h2 {
        font-size: 40px;
        margin-left: 22px;
        &::before {
          width: 14px;
          height: 34px;
          top: 6px;
          left: -22px;
        }
      }
    }
  }
}


.header-with-block {
  font-size: 60px;
  line-height: 49px;
  position: relative;
  margin-left: 28px;
  letter-spacing: 0.05em;
  color: white;
  &::before {
    content: '';
    border-radius: $border-radius--micro;
    width: 17px;
    height: 46px;
    position: absolute;
    top: 0;
    left: -28px;
    background-color: $magenta;
  }
}
.tag {
  height: 34px;
  padding: 6px 10px;
  box-sizing: border-box;
  text-transform: uppercase;
  font-weight: 500;
  font-size: 18px;
  line-height: 23px;
  cursor: pointer;
  border-radius: $border-radius--micro;
  margin-right: 10px;
  @include MQ(M) {
    height: 24px;
    padding: 3px 10px;
    font-size: 14px;
    line-height: 20px;
  }
}
.tag--color-magenta {
  background-color: $magenta;
}
.tag--color-purple {
  background-color: $purple;
}
@keyframes hue-rotate {
  0% {
    filter: hue-rotate(0);
  }
  30% {
    filter: hue-rotate(0);
  }
  100% {
    filter: hue-rotate(360deg);
  }
}
.ghost-button {
  border: white solid 3px;
  border-radius: 8px;
  color: white;
  width: 152px;
  line-height: 46px;
  font-size: 30px;
  cursor: pointer;
  letter-spacing: 0.1em;
  background: none;
  position: relative;
  box-sizing: border-box;
  transition: border 0.6s ease;
  &::before {
    content: 'resume';
    border-radius: 7px;
    width: 152px;
    line-height: 52px;
    background-image: linear-gradient(305.78deg, #6500E0 0%, #9E1FDA 53.99%, #D43F8D 100%);
    position: absolute;
    opacity: 0;
    top: -3px;
    left: -3px;
    transition: opacity 0.6s ease;
  }
  &:hover{
    border: transparent solid 3px;
    &::before {
      opacity: 1;
    }
  }
}
.see-more-button {
  display: inline-flex;
  cursor: pointer;
  float: right;
  position: relative;
  align-items: center;
  padding-right: 30px;
  margin-top: 30px;
  text-decoration: none;
  p {
    color: white;
    font-size: 34px;
    letter-spacing: 0.05em;

  }
  img {
    position: absolute;
    right: 0;
    transition: right 0.2s ease;
    transform: scale(1.4);
    transform-origin: center;
  }
  &:hover img {
    right: -6px;
  }
}
.home__project__popups {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background: rgba(0,0,0,0.75);
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.5s ease;
  z-index: 10;
  visibility: hidden;
  opacity: 0;
  .popup-box {
    width: 600px;
    height: 80vh;
    position: relative;
    box-shadow: rgba(0,0,0,0.25) 5px 5px 10px;
    border-radius: $border-radius--small;
    overflow: hidden;
    background-color: $black-main;
    &__close-button {
      a {
        color: white;
        text-align: right;
        text-decoration: none;
        font-size: 24px;
        position: absolute;
        top: 20px;
        right: 20px;
        z-index: 1;
        transition: all 0.5s ease;
        letter-spacing: 0.05em;
        text-shadow: #181818 2px 2px 5px;
        &::after {
          content: "\2716";
          padding-left: 5px;
        }
        &:hover{
          cursor: pointer;
          color: $magenta-light;
          transition: all 0.4s ease;
        }
      }
    }
    .popup {
      width: 100%;
      height: 100%;
      display: flex;
      flex-direction: column;
      position: relative;
      &__image {
        width: 100%;
        height: 40%;
        overflow: hidden;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
      }
      &:nth-of-type(1) .popup__image {
        background-image: url("../images/project-img01.jpg");
      }
      &:nth-of-type(2) .popup__image {
        background-image: url("../images/project-img02.jpg");
      }
      &__text {
        padding: 15px 40px;
        height: 60%;
        box-sizing: border-box;
        color: white;
        h3{
          margin-top: 20px;
          font-size: 24px;
          letter-spacing: 0.05em;
        }
        p{
          font-size: 16px;
          line-height: 20px;
          font-family: "Roboto", sans-serif;
        }
        a {
          color: #4399ff;
        }
        .ghost-button {
          font-size: 20px;
          position: absolute;
          bottom: 32px;
          left: 50%;
          transform: translateX(-50%);
          width: 140px;
          line-height: 37px;
          border: white solid 2px;
          &::before {
            content: 'see it now';
            width: 140px;
            line-height: 41px;
            top: -2px;
            left: -2px;
          }
        }
      }
    }
    @include MQ(L) {
      width: 85%;
      height: 70vh;
      .popup {
        &__image {
          height: 170px;
        }
        &__text {
          padding: 0 20px;
          h3 {
            margin-top: 15px;
            font-size: 22px;
          }
          p {
            font-size: 14px;
            line-height: 16px;
          }
        }
      }
    }
  }
}
body.show-popup {
  overflow: hidden;
  .home__project__popups {
    visibility: visible;
    opacity: 1;
  }
}
@keyframes moveY{
  from{ background-position-y: 0; }
  to{ background-position-y:-2107px; }
}
