@import "variables";

.main .home {
  font-family: 'Staatliches', cursive;

  &__header {
    position: relative;
    width: 100%;

    &__background {
      .background-photo-mask {
        width: 100%;
        position: absolute;
        z-index: 2;
        background: url("../images/home-page-photo-mask.png") center center no-repeat;
        height: 674px;
      }

      .background-photo {
        position: absolute;
        z-index: 1;
        width: 100%;
        background: url("../images/home-page-photo.jpg") center center no-repeat;
        height: 674px;
        animation: hue-rotate 15s linear infinite;
      }
    }

    &__intro {
      width: 100%;
      height: 674px;
      box-sizing: border-box;
      position: relative;
      z-index: 3;

      display: flex;
      align-items: center;
      justify-content: center;

      &-content {
        background-color: rgba(0, 0, 0, 0.5);
        border-radius: 30px;

        width: 80%;
        max-width: 1140px;
        padding: 0 120px;
        box-sizing: border-box;

        height: 280px;
        display: flex;
        align-items: center;
        position: relative;

        &__text {
          letter-spacing: 0.25em;
          display: flex;
          justify-content: center;
          flex-direction: column;
          color: white;
          position: absolute;
          right: 100px;

          h2 {
            font-size: 90px;
            line-height: 112px;

            span {
              color: $magenta;
            }
          }

          &__wrap {
            display: flex;
            align-items: center;
            h3 {
              font-size: 60px;
            }

            button {
              margin-left: 20px;
              border: white solid 3px;
              border-radius: 8px;
              color: white;
              width: 152px;
              line-height: 46px;
              font-size: 30px;
              cursor: pointer;
              letter-spacing: 0.1em;
              background: none;
              position: relative;
              box-sizing: border-box;
              transition: border 0.6s ease;

              &::before {
                content: 'resume';
                border-radius: 7px;
                width: 152px;
                line-height: 52px;
                background-image: linear-gradient(305.78deg, #6500E0 0%, #9E1FDA 53.99%, #D43F8D 100%);
                position: absolute;
                opacity: 0;
                top: -3px;
                left: -3px;
                transition: opacity 0.6s ease;
              }

              &:hover{
                border: transparent solid 3px;
                &::before {
                opacity: 1;
              }}

            }
          }
        }

      }


    }
  }

  &__skill {
    background-color: $background;
    height: 680px;
    box-shadow: 0 -4px 20px 12px rgba(0, 0, 0, 0.5);
    position: relative;
    z-index: 5;

    &__content {
      &__header::before {
        background-color: $purple;
      }

      &__cards {
        margin-top: 70px;
        display: flex;
        justify-content: space-between;
        width: 100%;
        color: black;

        .skill-card {
          width: 22%;
          height: 352px;
          background-color: $white-light;
          border-radius: $border-radius--small;
          overflow: hidden;
          position: relative;
          box-shadow: none;
          transition: all 0.5s ease;

          &__mask {
            position: absolute;
            z-index: 1;
            width: 100%;
            height: 270px;
            background: linear-gradient(305.78deg, #6500E0 0%, #9E1FDA 53.99%, #D43F8D 100%);
            opacity: 0;
            transition: opacity 0.5s ease;

            &__text {
              width: 75%;
              height: 75%;
              position: absolute;
              left: 50%;
              top: 50%;
              transform: translateX(-50%) translateY(-50%);
              background-color: rgba(0, 0, 0, 0.5);
              padding: 20px;
              box-sizing: border-box;
              border-radius: $border-radius--small;

              p {
                color: white;
                font-family: "Roboto", sans-serif;
                font-size: 18px;
              }
            }
          }

          &:hover {
            transform: translateY(-10px);
            box-shadow: 0 12px 30px -10px $magenta;
          }

          &:hover .skill-card__mask {
            opacity: 1;
          }

          &__icon {
            width: 100%;
            height: 270px;
            background-color: $black-main;
            display: flex;
            justify-content: center;
            align-items: center;
          }

          &__text {
            width: 100%;
            height: 82px;
            display: flex;
            justify-content: center;
            align-items: center;

            h3 {
              font-size: 40px;
              letter-spacing: 0.05em;
            }
          }
        }
      }
    }
  }

  &__project {
    background-color: $background;
    height: 730px;
    position: relative;

    &__mask {
      width: 100%;
      height: 100%;
      position: absolute;
      background: linear-gradient(180deg, #6500E0 0%, rgba(158, 31, 218, 0.6) 50%, rgba(158, 31, 218, 0.1) 100%);
      opacity: 0.3;
    }

    &__content {
      &__projects {
        display: flex;
        justify-content: space-between;
        margin-top: 60px;
        position: relative;
        z-index: 1;

        .project {
          width: 48%;
          height: 400px;
          transition: all 0.5s ease;
          border-radius: $border-radius--small;
          background-position: center;
          background-repeat: no-repeat;
          background-size: cover;
          position: relative;
          overflow: hidden;
          cursor: pointer;

          &:nth-of-type(1) {
            background-image: url("../images/project-img01.jpg");

            .project__mask {
              background: linear-gradient(180deg, rgba(158, 31, 218, 0) 0%, rgba(158, 31, 218, 0.4) 50%, rgba(212, 63, 141, 0.65) 100%);
            }
          }

          &:nth-of-type(2) {
            background-image: url("../images/project-img02.jpg");
            .project__mask {
              background: linear-gradient(180deg, rgba(158, 31, 218, 0) 0%, rgba(108, 18, 150, 0.55) 50%, rgba(168, 19, 97, 0.8) 100%);
            }
          }

          &__mask {
            position: absolute;
            width: 100%;
            height: 100px;
            bottom: 0;
            transition: height 1s ease;
          }

          &__text {
            width: 100%;
            text-align: center;
            color: white;
            font-size: 32px;
            position: absolute;
            left: 50%;
            transform: translateX(-50%);
            bottom: 20px;
            letter-spacing: 0.05em;
            transition: all 0.8s ease;
          }

          &:hover .project__mask{
            height: 80%;
          }

          &:hover .project__text{
            transform: translateX(-50%) scale(1.1);
            transform-origin: bottom;
          }
        }
      }
    }
  }

  &__blog {
    background: $black-dark;
    height: 920px;

    &__content {
      &__header::before {
        background-color: $purple;
      }

      &__posts {
        display: flex;
        justify-content: space-between;
        margin-top: 60px;

        .post {
          width: 31%;
          height: 564px;
          background: $black-light;
          color: white;
          font-family: "Roboto", sans-serif;
          border-radius: $border-radius--small;
          overflow: hidden;
          box-shadow: 2px 20px 30px -15px rgba(0, 0, 0, 0.8);
          transition: all 0.5s ease;

          &__img {
            width: 100%;
            height: 236px;
            background-position: center center;
            background-repeat: no-repeat;
            background-size: cover;
          }

          &__text {
            padding: 20px;
            position: relative;
            height: 328px;
            box-sizing: border-box;

            h2 {
              color: white;
              font-size: 30px;
              line-height: 32px;
              font-weight: bold;
              cursor: pointer;
              transition: transform 0.2s ease;
              &:hover {
                transform: translateY(-1px);
                text-shadow: 2px 2px 10px rgba(0, 0, 0, 0.8);
              }
            }

            p {
              margin: 16px 0;
              color: $white-light;
              font-size: 22px;
              line-height: 25px;
            }

            a {
              font-size: 22px;
              line-height: 26px;
              cursor: pointer;
              position: relative;
              display: inline-flex;
              align-items: center;
              text-decoration: none;

              img {
                margin-left: 8px;
                transition: margin-left 0.2s ease;
              }

              &:hover img {
                margin-left: 12px;
              }
            }

            &__tags {
              position: absolute;
              top: -48px;
              display: flex;
            }

            &__time {
              position: absolute;
              bottom: 20px;
              right: 20px;
            }
          }

          &:hover {
            transform: translateY(-15px);
          }

          &:nth-of-type(1) {
            .post__img{
              background-image: url("../images/blog-img01.jpg");
            }
          }

          &:nth-of-type(2) {
            .post__img{
              background-image: url("../images/blog-img02.jpg");
            }
          }

          &:nth-of-type(3) {
            .post__img{
              background-image: url("../images/blog-img03.jpg");
            }
          }
        }
      }
    }
  }

  &__gallery {
    background-color: $background;
    height: 970px;

    &__content {
      &__photos {
        display: grid;
        grid-template-columns: auto auto auto;
        grid-template-rows: 280px 280px;
        grid-gap: 30px;
        margin-top: 50px;

        .photo {
          cursor: pointer;
          border-radius: $border-radius--small;
          background-position: center;
          background-repeat: no-repeat;
          background-size: cover;
          transition: all 0.6s ease;

          &:hover {
            transform: scale(1.05);
            transform-origin: center;
          }

          &:nth-of-type(1) {
            background-image: url("../images/gallery-img01.jpg");
          }
          &:nth-of-type(2) {
            background-image: url("../images/gallery-img02.jpg");
          }
          &:nth-of-type(3) {
            background-image: url("../images/gallery-img03.jpg");
          }
          &:nth-of-type(4) {
            background-image: url("../images/gallery-img04.jpg");
          }
          &:nth-of-type(5) {
            background-image: url("../images/gallery-img05.jpg");
          }
          &:nth-of-type(6) {
            background-image: url("../images/gallery-img06.jpg");
          }
        }

      }

      &__button {
        display: inline-flex;
        cursor: pointer;
        float: right;
        position: relative;
        align-items: center;
        padding-right: 30px;
        margin-top: 30px;
        text-decoration: none;

        p {
          color: white;
          font-size: 34px;
          letter-spacing: 0.05em;

        }

        img {
          position: absolute;
          right: 0;
          transition: right 0.2s ease;
          transform: scale(1.4);
          transform-origin: center;
        }

        &:hover img {
          right: -6px;
        }
      }
    }
  }

  &__contact {
    height: 200px;
    background-image: linear-gradient(90deg, #6500E0 0%, #9E1FDA 50%, #D43F8D 100%);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    h2 {
      color: white;
      font-size: 50px;
      line-height: 50px;
      letter-spacing: 0.05em;
    }

    a {
      color: white;
      margin-top: 20px;
      font-size: 28px;
      padding: 6px 20px;
      letter-spacing: 0.05em;
      border: white solid 3px;
      border-radius: $border-radius--small;
      cursor: pointer;
      text-decoration: none;
      transition: transform 0.6s ease;

      &:hover {
        transform: scale(1.05);
        box-shadow: 0 0 10px;
      }
    }
  }
}

.home-section {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: $background;

  &__content {
    width: 100%;
    max-width: 1440px;
    padding: 100px 120px;
    box-sizing: border-box;
    height: 100%;
  }
}


.header-with-block {
  font-size: 60px;
  line-height: 49px;
  position: relative;
  margin-left: 28px;
  letter-spacing: 0.05em;
  color: white;

  &::before {
    content: '';
    border-radius: $border-radius--micro;
    width: 17px;
    height: 46px;
    position: absolute;
    top: 0;
    left: -28px;
    background-color: $magenta;
  }
}



.tag {
  height: 34px;
  padding: 6px 10px;
  box-sizing: border-box;
  text-transform: uppercase;
  font-weight: 500;
  font-size: 18px;
  line-height: 23px;
  cursor: pointer;
  border-radius: $border-radius--micro;
  margin-right: 10px;
}

.tag--color-magenta {
  background-color: $magenta;
}

.tag--color-purple {
  background-color: $purple;
}

@keyframes hue-rotate {
  0% {
    filter: hue-rotate(0);
  }
  30% {
    filter: hue-rotate(0);
  }
  100% {
    filter: hue-rotate(360deg);
  }
}
