$XS: 320px; //mobile small
$S: 425px; //mobile
$M: 768px; //tablet
$L: 1024px; //tablet horizontal
$XL: 1440px; //Desktop HD
$XXL: 1920px; //Desktop 4K

$white-light: #e8e8e8;
$magenta: #E73273;
$purple: #6B03E0;
$background: #181818;
$black-dark: #222222;
$black-main: #262626;
$black-light: #4c4c4c;

$border-radius--micro: 4px;
$border-radius--small: 10px;
$border-radius--middle: 15px;
$home-page-width: 1440px;


