@import "page-home";
@import "variables";

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&family=Staatliches&display=swap');

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Roboto', sans-serif;

  h2, h3, h4, h5, h6 {
    font-weight: normal;
  }

  img {
    display:block
  }

  button {
    border: none;
  }
}

.main-nav {
  font-family: 'Staatliches', cursive;
  background-color: $black-main;
  position: relative;
  z-index: 10;
  height: 72px;
  box-shadow: 0 4px 20px 12px rgba(0, 0, 0, 0.5);
  width: 100%;
  box-sizing: border-box;

  .nav-content{
    width: 100%;
    max-width: 1680px;
    height: 100%;
    margin: 0 auto;
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 120px;

    img {
      width: 80px;
      height: auto;

    }
    ul {
      display: flex;
      align-items: center;

      li {
        list-style: none;
        margin-left: 20px;
        border-radius: 4px;

        &:hover {
          a {
            color: white;
          }
          background-color: #404040;
          transition: background-color .3s ease;
        }

        a {
          font-size: 30px;
          letter-spacing: 0.1em;
          color: $white-light;
          text-decoration: none;
          line-height: 50px;
          padding: 0 20px;
          transition: color .3s ease;
        }
      }
    }
  }



}

.page {
  width: 100%;
  background-color: $background;
  display: none;

  &>.wait {
    color: white;
    font-size: 300px;
  }

  &.page--current {
    display: block;
  }
}

footer {
  height: 300px;
  background: $black-main;
  display: flex;
  justify-content: center;

  section {
    width: 10%;
    margin: 1em 2em;

    &:nth-of-type(1) {
      width: 40%;
    }

    &:nth-of-type(3) {
      width: 20%;
    }

    h2{
      font-size: 2em;
      line-height: 2em;
    }

    span, p{
      font-size: 1.2em;
      line-height: 1.3em;
    }

    .aboutUs .socialIcons {
      margin-top: 10px;
    }

    .aboutUs .socialIcons a {
      color: #c2c2c2;
      text-decoration: none;
      font-size: 1.2em;
      line-height: 1.6em;
      margin: .2em;
    }

    .links ul{
      list-style: none;
    }

    .links a{
      text-decoration: none;
      color: #c2c2c2;
      font-size: 1.2em;
      line-height: 1.3em;
    }

    .address  .fa-map-marker-alt{
      padding: 0 2.5px;
    }
  }
}





