@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&family=Staatliches&display=swap");
/*********************
*media queries
***********************/
.main .home {
  font-family: "Staatliches", cursive;
}
.main .home__header {
  position: relative;
  width: 100%;
}
.main .home__header__background .background-photo-mask {
  width: 100%;
  position: absolute;
  z-index: 2;
  background: url("../images/home-page-photo-mask.png") center center no-repeat;
  height: 674px;
}
.main .home__header__background .background-photo {
  position: absolute;
  z-index: 1;
  width: 100%;
  background: url("../images/home-page-photo.jpg") center center no-repeat;
  height: 674px;
  animation: hue-rotate 15s linear infinite;
}
.main .home__header__intro {
  width: 100%;
  height: 674px;
  box-sizing: border-box;
  position: relative;
  z-index: 3;
  display: flex;
  align-items: center;
  justify-content: center;
}
.main .home__header__intro-content {
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 30px;
  width: 80%;
  max-width: 1140px;
  padding: 0 120px;
  box-sizing: border-box;
  height: 280px;
  display: flex;
  align-items: center;
  position: relative;
}
.main .home__header__intro-content__text {
  letter-spacing: 0.25em;
  display: flex;
  justify-content: center;
  flex-direction: column;
  color: white;
  position: absolute;
  right: 100px;
}
.main .home__header__intro-content__text span {
  color: #E73273;
  font-size: 90px;
  line-height: 112px;
}
.main .home__header__intro-content__text h2 {
  font-size: 90px;
  line-height: 112px;
}
.main .home__header__intro-content__text h2 br {
  display: none;
}
.main .home__header__intro-content__text__wrap {
  display: flex;
  align-items: center;
}
.main .home__header__intro-content__text__wrap h3 {
  font-size: 60px;
}
.main .home__header__intro-content__text__wrap .ghost-button {
  margin-left: 20px;
}
@media screen and (max-width: 1440px) {
  .main .home__header__background .background-photo-mask {
    background-position: 20% center;
  }
  .main .home__header__background .background-photo {
    background-position: 20% center;
  }
  .main .home__header__intro-content {
    width: 85%;
  }
  .main .home__header__intro-content__text {
    right: 80px;
  }
  .main .home__header__intro-content__text h2 {
    font-size: 70px;
    line-height: 112px;
  }
  .main .home__header__intro-content__text h2 span {
    font-size: 70px;
  }
}
@media screen and (max-width: 1024px) {
  .main .home__header__intro-content__text {
    right: 50px;
  }
  .main .home__header__intro-content__text h2 {
    font-size: 60px;
    line-height: 112px;
  }
  .main .home__header__intro-content__text h2 span {
    font-size: 60px;
  }
}
@media screen and (max-width: 768px) {
  .main .home__header__intro-content {
    width: 85%;
    height: 60%;
    padding: 0;
    display: flex;
    justify-content: center;
  }
  .main .home__header__intro-content__text {
    right: unset;
  }
  .main .home__header__intro-content__text h2 {
    font-size: 52px;
    line-height: 65px;
  }
  .main .home__header__intro-content__text h2 br {
    display: block;
  }
  .main .home__header__intro-content__text h2 span {
    font-size: 52px;
    line-height: 65px;
  }
  .main .home__header__intro-content__text h3 {
    font-size: 40px;
  }
  .main .home__header__intro-content__text__wrap {
    margin-top: 30px;
    flex-direction: column;
    align-items: flex-start;
  }
  .main .home__header__intro-content__text__wrap .ghost-button {
    margin-top: 10px;
    margin-left: 0;
  }
}
@media screen and (max-width: 425px) {
  .main .home__header__intro-content {
    width: 85%;
  }
  .main .home__header__intro-content__text h2 {
    font-size: 50px;
    line-height: 65px;
    letter-spacing: 0.02em;
  }
  .main .home__header__intro-content__text h2 span {
    font-size: 50px;
    line-height: 65px;
    letter-spacing: 0.02em;
  }
  .main .home__header__intro-content__text h3 {
    font-size: 30px;
  }
  .main .home__header__intro-content__text button {
    font-size: 25px;
    width: 120px;
    line-height: 46px;
  }
  .main .home__header__intro-content__text button::before {
    font-size: 25px;
    width: 120px;
    line-height: 52px;
  }
}
.main .home__skill {
  background-color: #181818;
  box-shadow: 0 -4px 20px 12px rgba(0, 0, 0, 0.5);
  position: relative;
  z-index: 5;
}
.main .home__skill__content__header::before {
  background-color: #6B03E0;
}
.main .home__skill__content__cards {
  margin-top: 70px;
  display: flex;
  justify-content: space-between;
  width: 100%;
  color: black;
}
.main .home__skill__content__cards .skill-card {
  width: 22%;
  height: 352px;
  background-color: #e8e8e8;
  border-radius: 10px;
  overflow: hidden;
  position: relative;
  box-shadow: none;
  transition: all 0.5s ease;
}
.main .home__skill__content__cards .skill-card__mask {
  position: absolute;
  z-index: 1;
  width: 100%;
  height: 270px;
  background: linear-gradient(305.78deg, #6500E0 0%, #9E1FDA 53.99%, #D43F8D 100%);
  opacity: 0;
  transition: opacity 0.5s ease;
}
.main .home__skill__content__cards .skill-card__mask__text {
  width: 75%;
  height: 75%;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translateX(-50%) translateY(-50%);
  background-color: rgba(0, 0, 0, 0.5);
  padding: 20px;
  box-sizing: border-box;
  border-radius: 10px;
}
.main .home__skill__content__cards .skill-card__mask__text p {
  color: white;
  font-family: "Roboto", sans-serif;
  font-size: 18px;
}
.main .home__skill__content__cards .skill-card:hover {
  transform: translateY(-10px);
  box-shadow: 0 12px 30px -10px #E73273;
}
.main .home__skill__content__cards .skill-card:hover .skill-card__mask {
  opacity: 1;
}
.main .home__skill__content__cards .skill-card__icon {
  width: 100%;
  height: 270px;
  background-color: #262626;
  display: flex;
  justify-content: center;
  align-items: center;
}
.main .home__skill__content__cards .skill-card__text {
  width: 100%;
  height: 82px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.main .home__skill__content__cards .skill-card__text h3 {
  font-size: 40px;
  letter-spacing: 0.05em;
}
@media screen and (max-width: 1024px) {
  .main .home__skill__content__cards {
    flex-wrap: wrap;
  }
  .main .home__skill__content__cards .skill-card {
    width: 48%;
    margin-bottom: 6%;
  }
  .main .home__skill__content__cards .skill-card:nth-of-type(4) {
    display: block;
  }
}
@media screen and (max-width: 768px) {
  .main .home__skill__content__cards {
    justify-content: center;
  }
  .main .home__skill__content__cards .skill-card {
    width: 80%;
  }
}
@media screen and (max-width: 768px) {
  .main .home__skill__content__cards .skill-card {
    width: 100%;
    margin-bottom: 10%;
  }
}
.main .home__project {
  background-color: #181818;
  position: relative;
}
.main .home__project__mask {
  width: 100%;
  height: 100%;
  position: absolute;
  background: linear-gradient(180deg, #6500E0 0%, rgba(158, 31, 218, 0.6) 50%, rgba(158, 31, 218, 0.1) 100%);
  opacity: 0.3;
}
.main .home__project__content__projects {
  display: flex;
  justify-content: space-between;
  margin-top: 60px;
  position: relative;
  z-index: 1;
}
.main .home__project__content__projects .project {
  width: 48%;
  height: 400px;
  transition: all 0.5s ease;
  border-radius: 10px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  overflow: hidden;
  cursor: pointer;
}
.main .home__project__content__projects .project:nth-of-type(1) {
  background-image: url("../images/project-img01.jpg");
}
.main .home__project__content__projects .project:nth-of-type(1) .project__mask {
  background: linear-gradient(180deg, rgba(158, 31, 218, 0) 0%, rgba(158, 31, 218, 0.4) 50%, rgba(212, 63, 141, 0.65) 100%);
}
.main .home__project__content__projects .project:nth-of-type(2) {
  background-image: url("../images/project-img02.jpg");
}
.main .home__project__content__projects .project:nth-of-type(2) .project__mask {
  background: linear-gradient(180deg, rgba(158, 31, 218, 0) 0%, rgba(108, 18, 150, 0.55) 50%, rgba(168, 19, 97, 0.8) 100%);
}
.main .home__project__content__projects .project__mask {
  position: absolute;
  width: 100%;
  height: 100px;
  bottom: 0;
  transition: height 1s ease;
}
.main .home__project__content__projects .project__text {
  width: 100%;
  text-align: center;
  color: white;
  font-size: 32px;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: 20px;
  letter-spacing: 0.05em;
  transition: all 0.8s ease;
  padding: 0 12px;
  box-sizing: border-box;
}
.main .home__project__content__projects .project:hover .project__mask {
  height: 80%;
}
.main .home__project__content__projects .project:hover .project__text {
  transform: translateX(-50%) scale(1.1);
  transform-origin: bottom;
}
@media screen and (max-width: 1024px) {
  .main .home__project__content__projects {
    display: flex;
    justify-content: space-between;
    margin-top: 60px;
    position: relative;
    z-index: 1;
    flex-wrap: wrap;
  }
  .main .home__project__content__projects .project {
    width: 100%;
    margin-bottom: 8%;
  }
}
.main .home__blog {
  background: #222222;
}
.main .home__blog__content__header::before {
  background-color: #6B03E0;
}
.main .home__blog__content__posts {
  display: flex;
  justify-content: space-between;
  margin-top: 60px;
}
.main .home__blog__content__posts .post {
  width: 31%;
  height: 564px;
  background: #383838;
  color: white;
  font-family: "Roboto", sans-serif;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 2px 20px 30px -15px rgba(0, 0, 0, 0.8);
  transition: all 0.5s ease;
}
.main .home__blog__content__posts .post__img {
  width: 100%;
  height: 236px;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}
.main .home__blog__content__posts .post__text {
  padding: 20px;
  position: relative;
  height: 328px;
  box-sizing: border-box;
}
.main .home__blog__content__posts .post__text h2 {
  color: white;
  font-size: 26px;
  line-height: 32px;
  font-weight: bold;
  cursor: pointer;
  transition: all 0.2s ease;
}
.main .home__blog__content__posts .post__text h2:hover {
  transform: scale(1.01);
  transform-origin: center;
}
.main .home__blog__content__posts .post__text p {
  margin: 16px 0;
  color: #e8e8e8;
  font-size: 18px;
  line-height: 22px;
}
.main .home__blog__content__posts .post__text a {
  font-size: 22px;
  line-height: 26px;
  cursor: pointer;
  position: relative;
  display: inline-flex;
  align-items: center;
  text-decoration: none;
}
.main .home__blog__content__posts .post__text a img {
  margin-left: 8px;
  transition: margin-left 0.2s ease;
}
.main .home__blog__content__posts .post__text a:hover img {
  margin-left: 12px;
}
.main .home__blog__content__posts .post__text__tags {
  position: absolute;
  top: -48px;
  display: flex;
}
.main .home__blog__content__posts .post__text__time {
  position: absolute;
  bottom: 20px;
  right: 20px;
}
.main .home__blog__content__posts .post:hover {
  transform: translateY(-15px);
}
.main .home__blog__content__posts .post:nth-of-type(1) .post__img {
  background-image: url("../images/blog-img01.jpg");
}
.main .home__blog__content__posts .post:nth-of-type(2) .post__img {
  background-image: url("../images/blog-img02.jpg");
}
.main .home__blog__content__posts .post:nth-of-type(3) .post__img {
  background-image: url("../images/blog-img03.jpg");
}
@media screen and (max-width: 1440px) {
  .main .home__blog__content__posts .post {
    width: 48%;
  }
  .main .home__blog__content__posts .post:nth-of-type(3) {
    display: none;
  }
}
@media screen and (max-width: 1024px) {
  .main .home__blog__content__posts {
    flex-wrap: wrap;
  }
  .main .home__blog__content__posts .post {
    width: 100%;
    margin-bottom: 10%;
  }
  .main .home__blog__content__posts .post:nth-of-type(3) {
    display: block;
    margin-bottom: 0;
  }
}
.main .home__gallery {
  background-color: #181818;
}
.main .home__gallery__content__photos {
  display: grid;
  grid-template-columns: auto auto auto;
  grid-template-rows: 280px 280px;
  grid-gap: 30px;
  margin-top: 50px;
}
.main .home__gallery__content__photos .photo {
  border-radius: 10px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  transition: all 0.6s ease;
}
.main .home__gallery__content__photos .photo:hover {
  transform: scale(1.05);
  transform-origin: center;
}
.main .home__gallery__content__photos .photo:nth-of-type(1) {
  background-image: url("../images/gallery-img01.jpg");
}
.main .home__gallery__content__photos .photo:nth-of-type(2) {
  background-image: url("../images/gallery-img02.jpg");
}
.main .home__gallery__content__photos .photo:nth-of-type(3) {
  background-image: url("../images/gallery-img03.jpg");
}
.main .home__gallery__content__photos .photo:nth-of-type(4) {
  background-image: url("../images/gallery-img04.jpg");
}
.main .home__gallery__content__photos .photo:nth-of-type(5) {
  background-image: url("../images/gallery-img05.jpg");
}
.main .home__gallery__content__photos .photo:nth-of-type(6) {
  background-image: url("../images/gallery-img06.jpg");
}
@media screen and (max-width: 1024px) {
  .main .home__gallery__content__photos {
    grid-template-columns: auto auto;
    grid-auto-rows: 250px;
  }
}
@media screen and (max-width: 768px) {
  .main .home__gallery__content__photos {
    grid-template-columns: auto;
    grid-auto-rows: 250px;
  }
}
.main .home__contact {
  background-image: linear-gradient(90deg, #6500E0 0%, #9E1FDA 50%, #D43F8D 100%);
}
.main .home__contact__content {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 40px 30px;
}
.main .home__contact__content h2 {
  color: white;
  font-size: 50px;
  line-height: 50px;
  letter-spacing: 0.05em;
}
.main .home__contact__content a {
  color: white;
  margin-top: 20px;
  font-size: 28px;
  padding: 6px 20px;
  letter-spacing: 0.05em;
  border: white solid 3px;
  border-radius: 10px;
  cursor: pointer;
  text-decoration: none;
  transition: transform 0.6s ease;
}
.main .home__contact__content a:hover {
  transform: scale(1.05);
  box-shadow: 0 0 10px;
}
@media screen and (max-width: 768px) {
  .main .home__contact {
    text-align: center;
  }
}

.home-container {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #181818;
}
.home-container__content {
  width: 100%;
  max-width: 1440px;
  padding: 100px 100px;
  box-sizing: border-box;
  height: 100%;
}
@media screen and (max-width: 1440px) {
  .home-container__content {
    padding: 100px 100px;
  }
  .home-container__content > h2 {
    font-size: 50px;
  }
}
@media screen and (max-width: 1024px) {
  .home-container__content {
    padding: 100px 80px;
  }
}
@media screen and (max-width: 768px) {
  .home-container__content {
    padding: 100px 40px;
  }
}

.header-with-block {
  font-size: 60px;
  line-height: 49px;
  position: relative;
  margin-left: 28px;
  letter-spacing: 0.05em;
  color: white;
}
.header-with-block::before {
  content: "";
  border-radius: 4px;
  width: 17px;
  height: 46px;
  position: absolute;
  top: 0;
  left: -28px;
  background-color: #E73273;
}

.tag {
  height: 34px;
  padding: 6px 10px;
  box-sizing: border-box;
  text-transform: uppercase;
  font-weight: 500;
  font-size: 18px;
  line-height: 23px;
  cursor: pointer;
  border-radius: 4px;
  margin-right: 10px;
}

.tag--color-magenta {
  background-color: #E73273;
}

.tag--color-purple {
  background-color: #6B03E0;
}

@keyframes hue-rotate {
  0% {
    filter: hue-rotate(0);
  }
  30% {
    filter: hue-rotate(0);
  }
  100% {
    filter: hue-rotate(360deg);
  }
}
.ghost-button {
  border: white solid 3px;
  border-radius: 8px;
  color: white;
  width: 152px;
  line-height: 46px;
  font-size: 30px;
  cursor: pointer;
  letter-spacing: 0.1em;
  background: none;
  position: relative;
  box-sizing: border-box;
  transition: border 0.6s ease;
}
.ghost-button::before {
  content: "resume";
  border-radius: 7px;
  width: 152px;
  line-height: 52px;
  background-image: linear-gradient(305.78deg, #6500E0 0%, #9E1FDA 53.99%, #D43F8D 100%);
  position: absolute;
  opacity: 0;
  top: -3px;
  left: -3px;
  transition: opacity 0.6s ease;
}
.ghost-button:hover {
  border: transparent solid 3px;
}
.ghost-button:hover::before {
  opacity: 1;
}

.see-more-button {
  display: inline-flex;
  cursor: pointer;
  float: right;
  position: relative;
  align-items: center;
  padding-right: 30px;
  margin-top: 30px;
  text-decoration: none;
}
.see-more-button p {
  color: white;
  font-size: 34px;
  letter-spacing: 0.05em;
}
.see-more-button img {
  position: absolute;
  right: 0;
  transition: right 0.2s ease;
  transform: scale(1.4);
  transform-origin: center;
}
.see-more-button:hover img {
  right: -6px;
}

.home__project__popups {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.75);
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.5s ease;
  z-index: 10;
  visibility: hidden;
  opacity: 0;
}
.home__project__popups .popup-box {
  width: 600px;
  height: 80vh;
  position: relative;
  box-shadow: rgba(0, 0, 0, 0.25) 5px 5px 10px;
  border-radius: 10px;
  overflow: hidden;
  background-color: #262626;
}
.home__project__popups .popup-box__close-button a {
  color: white;
  text-align: right;
  text-decoration: none;
  font-size: 30px;
  position: absolute;
  top: 20px;
  right: 20px;
  z-index: 1;
  transition: all 0.5s ease;
  letter-spacing: 0.05em;
  text-shadow: #181818 2px 2px 5px;
}
.home__project__popups .popup-box__close-button a::after {
  content: "✖";
  padding-left: 5px;
}
.home__project__popups .popup-box__close-button a:hover {
  cursor: pointer;
  color: #ff5a95;
  transition: all 0.4s ease;
}
.home__project__popups .popup-box .popup {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  position: relative;
}
.home__project__popups .popup-box .popup__image {
  width: 100%;
  height: 40%;
  overflow: hidden;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.home__project__popups .popup-box .popup:nth-of-type(1) .popup__image {
  background-image: url("../images/project-img01.jpg");
}
.home__project__popups .popup-box .popup:nth-of-type(2) .popup__image {
  background-image: url("../images/project-img02.jpg");
}
.home__project__popups .popup-box .popup__text {
  padding: 10px 40px;
  height: 60%;
  box-sizing: border-box;
  color: white;
}
.home__project__popups .popup-box .popup__text h3 {
  margin-top: 20px;
  font-size: 30px;
  line-height: 50px;
  letter-spacing: 0.05em;
}
.home__project__popups .popup-box .popup__text p {
  font-size: 18px;
  line-height: 22px;
  font-family: "Roboto", sans-serif;
}
.home__project__popups .popup-box .popup__text .ghost-button {
  position: absolute;
  bottom: 32px;
  left: 50%;
  transform: translateX(-50%);
  width: 180px;
}
.home__project__popups .popup-box .popup__text .ghost-button::before {
  content: "see it now";
  width: 180px;
}
@media screen and (max-width: 1024px) {
  .home__project__popups .popup-box {
    width: 85%;
    height: 70vh;
  }
  .home__project__popups .popup-box .popup__image {
    height: 200px;
  }
  .home__project__popups .popup-box .popup__text {
    padding: 10px 30px;
  }
  .home__project__popups .popup-box .popup__text h3 {
    font-size: 26px;
    line-height: 40px;
  }
  .home__project__popups .popup-box .popup__text p {
    font-size: 18px;
    line-height: 22px;
  }
  .home__project__popups .popup-box .popup__text .ghost-button {
    font-size: 24px;
    width: 150px;
  }
  .home__project__popups .popup-box .popup__text .ghost-button::before {
    width: 150px;
    font-size: 24px;
    content: "see it now";
  }
}

body.show-popup {
  overflow: hidden;
  /* Temporarily disables page scrolling */
}
body.show-popup .home__project__popups {
  visibility: visible;
  opacity: 1;
}

@keyframes moveY {
  from {
    background-position-y: 0;
  }
  to {
    background-position-y: -2107px;
  }
}
/*********************
*media queries
***********************/
.main .gallery {
  background-color: #181818;
}
.main .gallery__page-top {
  background-image: url("../images/gallery-bg.jpg");
}
.main .gallery__content {
  width: 100%;
  max-width: 1140px;
  margin: 0 auto;
  box-sizing: border-box;
  padding: 50px 10px 100px 10px;
  /* ---- button ---- */
  /* ---- button-group ---- */
}
.main .gallery__content__photo-grid::after {
  content: "";
  display: block;
  clear: both;
}
.main .gallery__content__photo-grid .photo-item {
  box-sizing: border-box;
  width: 31%;
  float: left;
  margin: 1%;
  cursor: pointer;
}
.main .gallery__content__photo-grid .photo-item img {
  max-width: 100%;
  height: auto;
}
.main .gallery__content .photo-browser {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.5s ease;
  z-index: 10;
  visibility: hidden;
  opacity: 0;
}
.main .gallery__content .photo-browser__background {
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.85);
  position: absolute;
}
.main .gallery__content .photo-browser__nav__close-button {
  color: white;
  text-align: right;
  text-decoration: none;
  font-size: 30px;
  position: absolute;
  top: 20px;
  right: 20px;
  z-index: 1;
  transition: all 0.5s ease;
  letter-spacing: 0.05em;
  text-shadow: #181818 2px 2px 5px;
}
.main .gallery__content .photo-browser__nav__close-button::after {
  content: "✖";
  padding-left: 5px;
}
.main .gallery__content .photo-browser__nav__close-button:hover {
  cursor: pointer;
  color: #ff5a95;
  transition: all 0.4s ease;
}
.main .gallery__content .photo-browser__nav .switch-photo-button {
  width: 100px;
  height: 100px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 2;
}
.main .gallery__content .photo-browser__nav__prePhoto {
  left: 0;
}
.main .gallery__content .photo-browser__nav__nextPhoto {
  right: 0;
}
.main .gallery__content .photo-browser__image-container {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}
.main .gallery__content .photo-browser__image-container img {
  width: auto;
  max-width: 80vw;
  height: auto;
  max-height: 85vh;
}
.main .gallery__content .photo-browser.visible {
  visibility: visible;
  opacity: 1;
}
.main .gallery__content .button {
  display: inline-block;
  padding: 10px 18px;
  margin-bottom: 10px;
  background: #EEE;
  border: none;
  border-radius: 7px;
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.2));
  color: #222;
  font-family: sans-serif;
  font-size: 16px;
  text-shadow: 0 1px white;
  cursor: pointer;
}
.main .gallery__content .button:hover {
  background-color: #8CF;
  text-shadow: 0 1px rgba(255, 255, 255, 0.5);
  color: #222;
}
.main .gallery__content .button:active,
.main .gallery__content .button.is-checked {
  background-color: #28F;
}
.main .gallery__content .button.is-checked {
  color: white;
  text-shadow: 0 -1px rgba(0, 0, 0, 0.8);
}
.main .gallery__content .button:active {
  box-shadow: inset 0 1px 10px rgba(0, 0, 0, 0.8);
}
.main .gallery__content .button-group:after {
  content: "";
  display: block;
  clear: both;
}
.main .gallery__content .button-group .button {
  float: left;
  border-radius: 0;
  margin-left: 0;
  margin-right: 1px;
}
.main .gallery__content .button-group .button:first-child {
  border-radius: 0.5em 0 0 0.5em;
}
.main .gallery__content .button-group .button:last-child {
  border-radius: 0 0.5em 0.5em 0;
}
@media screen and (max-width: 768px) {
  .main .gallery__content .photo-item {
    width: 48%;
  }
}

.main .blog__page-top {
  background-image: url("../images/blog-bg.jpg");
}

.main .resume__page-top {
  background-image: url("../images/resume-bg.jpg");
}
.main .resume__content {
  display: flex;
}
.main .resume__content .info-aside {
  flex: 2;
}
.main .resume__content__article {
  flex: 7;
  border: green solid 1px;
  background: #e8e8e8;
  padding: 16px 40px 40px 40px;
  box-sizing: border-box;
  border-radius: 10px;
}
.main .resume__content__article h3 {
  margin-top: 24px;
  color: black;
  font-size: 26px;
  font-family: "Staatliches", cursive;
  padding-left: 20px;
  position: relative;
  letter-spacing: 0.05em;
  margin-bottom: 8px;
}
.main .resume__content__article h3::before {
  content: "";
  width: 10px;
  height: 22px;
  position: absolute;
  background-color: #6B03E0;
  top: 2px;
  left: 0;
  border-radius: 4px;
}
.main .resume__content__article__text {
  margin-bottom: 12px;
  font-size: 18px;
  line-height: 26px;
  font-weight: 400;
  box-sizing: border-box;
  padding: 14px 20px;
  background-color: white;
  border-radius: 10px;
}
.main .resume__content__article__text h4 {
  font-weight: bold;
  font-size: 20px;
  margin-bottom: 10px;
}
.main .resume__content__article__text p {
  margin-bottom: 10px;
  position: relative;
  text-indent: 18px;
}
.main .resume__content__article__text p.with-arrow::before {
  content: "";
  position: absolute;
  width: 18px;
  height: 16px;
  top: 4px;
  left: -1px;
  background: url("../images/right-arrow-purple.svg") no-repeat center center;
  background-size: 50%;
}
.main .resume__content__article__text img {
  display: inline-block;
  width: 8px;
  height: auto;
  margin: 0 2px;
}
.main .resume__content__article__text:first-of-type p {
  text-indent: 0;
}
.main .resume__content__article__icons {
  margin-bottom: 20px;
  line-height: 26px;
  font-weight: 400;
  box-sizing: border-box;
  padding: 14px 20px;
  background-color: white;
  border-radius: 10px;
}
.main .resume__content__article__icons .iconify {
  margin-right: 10px;
}

.main .contact__page-top {
  background-image: url("../images/contact-bg.jpg");
}
.main .contact__content {
  display: flex;
}
.main .contact__content .info-aside {
  flex: 2;
}
.main .contact__content__article {
  flex: 7;
  background: #e8e8e8;
  padding: 40px;
  box-sizing: border-box;
  border-radius: 10px;
}
.main .contact__content__article label {
  color: black;
  font-size: 26px;
  font-family: "Staatliches", cursive;
  padding-left: 20px;
  position: relative;
  letter-spacing: 0.05em;
}
.main .contact__content__article label input[type=text] {
  width: 100%;
  font-size: 20px;
  height: 40px;
  margin: 8px 0 20px 0;
  border: none;
  font-family: "Roboto", sans-serif;
  box-sizing: border-box;
  padding: 0 20px;
}
.main .contact__content__article label::before {
  content: "";
  width: 10px;
  height: 22px;
  position: absolute;
  background-color: #6B03E0;
  top: 4px;
  left: 0;
  border-radius: 4px;
}
.main .contact__content__article label textarea {
  font-size: 20px;
  margin-top: 10px;
  border: none;
  width: 100%;
  height: 160px;
  resize: none;
  font-family: "Roboto", sans-serif;
}
.main .contact__content__article button {
  margin-top: 10px;
  border-radius: 4px;
  width: 100px;
  font-size: 24px;
  line-height: 32px;
  letter-spacing: 0.05em;
  font-family: "Staatliches", cursive;
  border: black solid 2px;
  position: relative;
  background-color: white;
  cursor: pointer;
}
.main .contact__content__article button::before {
  content: "send";
  border-radius: 4px;
  width: 100px;
  line-height: 36px;
  background-image: linear-gradient(305.78deg, #6500E0 0%, #9E1FDA 53.99%, #D43F8D 100%);
  position: absolute;
  opacity: 0;
  top: -2px;
  left: -2px;
  transition: opacity 0.6s ease;
}
.main .contact__content__article button:hover {
  border: transparent solid 2px;
}
.main .contact__content__article button:hover::before {
  color: white;
  opacity: 1;
}
.main .contact__content__article h3 {
  color: black;
  font-size: 26px;
  font-family: "Staatliches", cursive;
  padding-left: 20px;
  position: relative;
  letter-spacing: 0.05em;
  margin: 30px 0 10px 0;
}
.main .contact__content__article h3::before {
  content: "";
  width: 10px;
  height: 22px;
  position: absolute;
  background-color: #6B03E0;
  top: 2px;
  left: 0;
  border-radius: 4px;
}
.main .contact__content__article p {
  font-size: 16px;
  margin-bottom: 10px;
}

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Roboto", sans-serif;
}
body h2, body h3, body h4, body h5, body h6 {
  font-weight: normal;
}
body img {
  display: block;
}
body button {
  border: none;
}

.main-nav {
  font-family: "Staatliches", cursive;
  background-color: #262626;
  position: relative;
  z-index: 10;
  height: 72px;
  box-shadow: 0 4px 20px 12px rgba(0, 0, 0, 0.5);
  width: 100%;
}
.main-nav__container {
  width: 100%;
  max-width: 1440px;
  height: 100%;
  margin: 0 auto;
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 120px;
}
.main-nav__container__logo {
  width: 100px;
  height: 43px;
  background-image: url("../images/logo-css-sprites.png");
  animation-fill-mode: forwards;
}
.main-nav__container__logo:hover {
  animation: moveY 2s steps(49);
  cursor: pointer;
  animation-fill-mode: forwards;
}
.main-nav__container__menu ul {
  display: flex;
  align-items: center;
}
.main-nav__container__menu ul li {
  list-style: none;
  margin-left: 20px;
  border-radius: 4px;
}
.main-nav__container__menu ul li:hover {
  background-color: #404040;
  transition: background-color 0.3s ease;
}
.main-nav__container__menu ul li:hover a {
  color: white;
}
.main-nav__container__menu ul li a {
  font-size: 30px;
  letter-spacing: 0.1em;
  color: #e8e8e8;
  text-decoration: none;
  line-height: 50px;
  padding: 0 20px;
  transition: color 0.3s ease;
}
.main-nav__container__menu-icons {
  display: none;
  cursor: pointer;
}
.main-nav__container__menu-icons .menu-icon {
  display: none;
}
.main-nav__container__menu-icons .close-icon {
  display: none;
}
@media screen and (max-width: 1440px) {
  .main-nav__container__menu ul li {
    margin-left: 10px;
  }
  .main-nav__container__menu ul li a {
    padding: 0 15px;
  }
}
@media screen and (max-width: 1024px) {
  .main-nav {
    position: fixed;
  }
  .main-nav__container {
    padding: 0 80px;
  }
  .main-nav__container__menu {
    width: 300px;
    height: calc(100% - 72px);
    background: #222222;
    position: fixed;
    top: 72px;
    left: -300px;
    transition: left 0.3s ease;
    box-shadow: black 11px 14px 20px;
  }
  .main-nav__container__menu ul {
    flex-direction: column;
    box-sizing: border-box;
    padding: 0 30px;
    align-items: normal;
    margin-top: 30px;
  }
  .main-nav__container__menu ul li {
    margin: 0 0 20px 0;
  }
  .main-nav__container__menu.active {
    left: 0;
  }
  .main-nav__container__mask {
    display: none;
    width: 100%;
    height: calc(100% - 72px);
    background: rgba(0, 0, 0, 0.3);
    position: fixed;
    top: 72px;
    left: 0;
  }
  .main-nav__container__menu-icons {
    display: block;
  }
  .main-nav__container__menu-icons .menu-icon {
    display: block;
  }
}
@media screen and (max-width: 768px) {
  .main-nav__container {
    padding: 0 40px;
  }
}

.page {
  width: 100%;
  background-color: #181818;
  display: none;
  min-height: 1080px;
}
.page.page--current {
  display: block;
}
.page .page-top {
  width: 100%;
  height: 300px;
  background-image: linear-gradient(#181818);
  background-position-x: center;
  background-position-y: center;
  text-shadow: #181818 2px 2px 6px;
}
.page .page-top__container {
  width: 100%;
  height: 100%;
  max-width: 1140px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  flex-direction: column;
  color: white;
  font-family: "Staatliches", cursive;
  letter-spacing: 0.05em;
  box-sizing: border-box;
  padding-left: 44px;
}
.page .page-top__container h2 {
  font-size: 70px;
  position: relative;
}
.page .page-top__container h2::after {
  content: "";
  position: absolute;
  background-color: #E73273;
  width: 17px;
  height: 97px;
  left: -34px;
  top: 12px;
  border-radius: 4px;
}
.page .page-top__container h3 {
  font-size: 30px;
}
.page .page-content {
  width: 100%;
  max-width: 1260px;
  min-height: 300px;
  box-sizing: border-box;
  margin: 0 auto;
  padding: 60px 60px;
}
@media screen and (max-width: 1024px) {
  .page {
    padding-top: 72px;
  }
}

.info-aside {
  display: flex;
  flex-direction: column;
  min-width: 260px;
  margin-right: 30px;
  background-color: #262626;
  border-radius: 10px;
  align-items: center;
  padding: 30px;
  box-sizing: border-box;
  color: #e8e8e8;
}
.info-aside__avatar {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}
.info-aside__avatar img {
  border-radius: 50%;
  width: 50%;
  height: auto;
}
.info-aside__name {
  font-size: 28px;
  font-family: "Staatliches", cursive;
  letter-spacing: 0.1em;
}
.info-aside__icons .iconify {
  cursor: pointer;
  margin: 6px 5px;
  font-size: 30px;
  color: #e8e8e8;
}
.info-aside__icons .iconify:hover {
  color: white;
}
.info-aside__info {
  width: 100%;
}
.info-aside__info__header {
  font-size: 24px;
  margin: 20px 0 6px 0;
  font-family: "Staatliches", cursive;
  letter-spacing: 0.1em;
  text-indent: 16px;
  position: relative;
}
.info-aside__info__header::before {
  content: "";
  width: 8px;
  height: 22px;
  border-radius: 2px;
  position: absolute;
  top: 2px;
  left: 0;
  background-color: #E73273;
}
.info-aside__info__content {
  width: 100%;
  padding: 12px;
  text-align: center;
  background-color: #383838;
  border-radius: 6px;
  box-sizing: border-box;
}
.info-aside__info__button button {
  border: none;
  border-radius: 6px;
  background-color: #383838;
  width: 100%;
  color: #e8e8e8;
  line-height: 42px;
  display: flex;
  align-items: center;
  padding: 0 20px;
  box-sizing: border-box;
  margin-bottom: 14px;
  cursor: pointer;
  position: relative;
  overflow: hidden;
}
.info-aside__info__button button .iconify {
  color: #e8e8e8;
  font-size: 26px;
  margin-right: 10px;
}
.info-aside__info__button button .button-decoration {
  position: absolute;
  width: 22px;
  height: 22px;
  bottom: 0;
  right: 0;
  overflow: hidden;
  background: linear-gradient(to bottom right, #383838 50%, #E73273 50%, #6B03E0 100%);
  transition: all 0.5s ease;
  z-index: 0;
}
.info-aside__info__button button span {
  position: relative;
  z-index: 2;
}
.info-aside__info__button button:hover .button-decoration {
  width: 60px;
  height: 60px;
}

.footer {
  width: 100%;
  background: #262626;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.footer__content {
  color: #c2c2c2;
  width: 100%;
  max-width: 1440px;
  padding: 20px 120px;
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
}
.footer__content section {
  padding: 15px;
  display: flex;
  justify-content: center;
}
.footer__content section:nth-of-type(1) {
  flex: 1;
}
.footer__content section:nth-of-type(2) {
  flex: 3;
}
.footer__content section:nth-of-type(3) {
  flex: 1;
}
.footer__content section:nth-of-type(4) {
  flex: 2;
}
.footer__content section h2 {
  font-size: 28px;
  line-height: 50px;
  font-weight: 500;
}
.footer__content__icon {
  display: flex;
  justify-content: center;
  align-items: center;
}
.footer__content__icon img {
  width: 100px;
}
.footer__content__about-web__content p {
  font-size: 16px;
  line-height: 20px;
}
.footer__content__links__nav li {
  list-style: none;
  margin-bottom: 4px;
}
.footer__content__links__nav a {
  font-size: 16px;
  color: #c2c2c2;
  text-decoration: none;
}
.footer__content__contact {
  font-size: 16px;
}
.footer__content__contact p {
  line-height: 22px;
}
.footer__content__contact span {
  font-weight: bold;
}
.footer__content__contact__content__social-icons {
  margin-top: 10px;
}
.footer__content__contact__content__social-icons .fab {
  color: #c2c2c2;
  font-size: 20px;
  margin-right: 4px;
}
.footer__copyright {
  width: 100%;
  color: #c2c2c2;
  text-align: center;
  margin-bottom: 50px;
}
.footer__copyright h3 {
  font-size: 14px;
  margin: 4px 0;
}
@media screen and (max-width: 1440px) {
  .footer__content {
    padding: 20px 80px;
  }
  .footer__content section:nth-of-type(1) {
    flex: 0;
  }
  .footer__content__icon {
    padding: 0;
  }
  .footer__content__icon img {
    display: none;
  }
}
@media screen and (max-width: 1024px) {
  .footer__content {
    padding: 20px 30px;
  }
}

/*# sourceMappingURL=main.css.map */
