@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&family=Staatliches&display=swap');
@import "variables";
@import "page-home";
@import "page-gallery";
@import "page-blog";
@import "page-resume";
@import "page-contact";

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Roboto', sans-serif;

  h2, h3, h4, h5, h6 {
    font-weight: normal;
  }

  img {
    display:block
  }

  button {
    border: none;
  }
}

.main-nav {
  font-family: 'Staatliches', cursive;
  background-color: $black-main;
  position: relative;
  z-index: 10;
  height: $main-nav-height;
  box-shadow: 0 4px 20px 12px rgba(0, 0, 0, 0.5);
  width: 100%;

  &__container {
    width: 100%;
    max-width: 1440px;
    height: 100%;
    margin: 0 auto;
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 120px;

    &__logo {
      width: 100px;
      height: 43px;
      background-image : url('../images/logo-css-sprites.png');
      animation-fill-mode: forwards;

      &:hover {
        animation: moveY 2s steps(49);
        cursor: pointer;
        animation-fill-mode: forwards;
      }
    }


    &__menu{
      ul {
        display: flex;
        align-items: center;

        li {
          list-style: none;
          margin-left: 20px;
          border-radius: 4px;

          &:hover {
            a {
              color: white;
            }
            background-color: #404040;
            transition: background-color .3s ease;
          }

          a {
            font-size: 30px;
            letter-spacing: 0.1em;
            color: $white-light;
            text-decoration: none;
            line-height: 50px;
            padding: 0 20px;
            transition: color .3s ease;
          }
        }
      }
    }

    &__menu-icons {
      display: none;
      cursor: pointer;
      .menu-icon {
        display: none;
      }
      .close-icon {
        display: none;
      }
    }
  }

  @include MQ(XL) {
    &__container__menu ul li{
      margin-left: 10px;

      a {
        padding: 0 15px;
      }
    }
  }

  @include MQ(L) {
    position: fixed;
    &__container {
      padding: 0 80px;

      &__menu {
        width: 300px;
        height: calc(100% - 72px);
        background: $black-dark;
        position: fixed;
        top: $main-nav-height;
        left: -300px;
        transition: left 0.3s ease;
        box-shadow: black 11px 14px 20px;

        ul {
          flex-direction: column;
          box-sizing: border-box;
          padding: 0 30px;
          align-items: normal;
          margin-top: 30px;

          li {
            margin: 0 0 20px 0;
          }
        }

        &.active {
          left: 0;
        }
      }

      &__mask {
        display: none;
        width: 100%;
        height: calc(100% - 72px);
        background: rgba(0, 0 ,0 , 0.3);
        position: fixed;
        top: $main-nav-height;
        left: 0;
      }

      &__menu-icons {
        display: block;
        .menu-icon {
          display: block;
        }
      }
    }

  }

  @include MQ(M) {
    &__container {
      padding: 0 40px;
    }
  }
}

.page {
  width: 100%;
  background-color: $background;
  display: none;
  min-height: 1080px;

  &.page--current {
    display: block;
  }

  .page-top {
    width: 100%;
    height: 300px;
    background-image: linear-gradient($background);
    background-position-x: center;
    background-position-y: center;
    text-shadow: #181818 2px 2px 6px;
    &__container {
      width: 100%;
      height: 100%;
      max-width: 1140px;
      margin: 0 auto;
      display: flex;
      justify-content: center;
      flex-direction: column;
      color: white;
      font-family: "Staatliches", cursive;
      letter-spacing: 0.05em;
      box-sizing: border-box;
      padding-left: 44px;

      h2 {
        font-size: 70px;
        position: relative;
        &::after {
          content: '';
          position: absolute;
          background-color: $magenta;
          width: 17px;
          height: 97px;
          left: -34px;
          top: 12px;
          border-radius: $border-radius--micro;
        }
      }
      h3 {
        font-size: 30px;
      }
    }

  }

  .page-content {
    width: 100%;
    max-width: 1140px;
    min-height: 300px;
    border: red solid 1px;
    margin: 0 auto;
  }
  @include MQ(L) {
    padding-top: $main-nav-height;
  }
}




.footer {
  width: 100%;
  background: $black-main;
  display: flex;
  flex-direction: column;
  align-items: center;

  &__content {
    color: $grey;
    width: 100%;
    max-width: 1440px;
    padding: 20px 120px;
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;

    section {
      padding: 15px;
      display: flex;
      justify-content: center;

      &:nth-of-type(1) {
        flex: 1;
      }

      &:nth-of-type(2) {
        flex: 3;
      }

      &:nth-of-type(3) {
        flex: 1;
      }

      &:nth-of-type(4) {
        flex: 2;
      }

      h2 {
        font-size: 28px;
        line-height: 50px;
        font-weight: 500;
      }
    }

    &__icon {
      display: flex;
      justify-content: center;
      align-items: center;

      img {
        width: 100px;
      }
    }

    &__about-web__content {
      p {
        font-size: 16px;
        line-height: 20px;
      }
    }

    &__links__nav {
      li {
        list-style: none;
        margin-bottom: 4px;
      }
      a {
        font-size: 16px;
        color: $grey;
        text-decoration: none;
      }
    }

    &__contact {
      font-size: 16px;

      p {
        line-height: 22px;
      }
      span {
        font-weight: bold;
      }

      &__content__social-icons {
        margin-top: 10px;
        .fab {
          color: $grey;
          font-size: 20px;
          margin-right: 4px;
        }
      }
    }
  }

  &__copyright {
    width: 100%;
    color: $grey;
    text-align: center;
    margin-bottom: 50px;
    h3 {
      font-size: 14px;
      margin: 4px 0;
    }
  }

  @include MQ(XL) {
    &__content {
      padding: 20px 80px;
      section {
        &:nth-of-type(1) {
          flex: 0;
        }
      }

      &__icon {
        padding: 0;
        img{
          display: none;
        }
      }
    }
  }

  @include MQ(L) {
    &__content {
      padding: 20px 30px;
    }
  }
}





